@charset "ISO-8859-1";

body {
	background-color: lightgrey;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.login-header-div {
	width: fit-content;
	text-align: center;
	margin: 20% auto 0px;
}

.login-header {
	color: black;
	font-size: 40px;
	float: left;
	margin: 0px;
}

.login-div {
	text-align: center;
	width: 40%;
	margin: 100px auto 0px;
}

.login-input-div {
	border-radius: 20px;
	height: 50px;
}

.login-img {
	float: left;
	width: 10%;
}

.login-input {
	float: left;
	width: 90%;
}