@charset "ISO-8859-1";

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Bootstrap overrides */
body {
	background-color: lightgrey !important;
	font-family: sans-serif !important;
}

a:hover {
	color: inherit !important;
}

.btn {
	background-color: #1A5972 !important;
	color: white !important;
	border: none !important;
}
.btn:hover {
	opacity: 0.7 !important;
}

/* RestaurantLogin styles */
.login-header-div {
	width: fit-content;
	text-align: center;
	margin: 15% auto 0px;
}

.login-header {
	color: black;
	font-size: 60px;
	float: left;
	margin: 15px 0px 0px;
}

.login-div {
	text-align: center;
	width: 18%;
	margin: 100px auto 0px;
}

.login-input-div {
	border-radius: 15px;
	height: 55px;
	background: white;
	margin-bottom: 40px;
	box-shadow: 0px 3px 7px grey;
}

.login-img {
	float: left;
	width: 10%;
	padding: 19px 9px;
	margin-right: 2%;
}

.login-input {
	float: left;
	width: 88%;
	outline: none;
	border: none;
	padding: 0px;
	height: 100%;
	border-radius: 0px 40px 40px 0px;
	font-size: 16px;
}

::placeholder {
	color: #1A5972;
	opacity: 0.6;
}

:-ms-input-placeholder {
	color: #1A5972;
	opacity: 0.6;
}

::-ms-input-placeholder {
	color: #1A5972;
	opacity: 0.6;
}

.login-button-div {
	height: 50px;
	margin-bottom: 15px;
}

.login-btn {
	height: 100%;
	width: 80%;
	margin: auto;
	font-size: 15px;
	color: white;
	background-color: #1A5972;
	text-transform: uppercase;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

.login-btn:hover {
	opacity: 0.7;
}

.login-forgot-password {
	color: black;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
}

.login-forgot-password:hover {
	text-decoration: underline;
}

.login-logo {
	float: left;
	width: 15%;
	margin-left: 60px;
}

/* header style for each page */
.header-style {
	position: relative;
	left: 50px;
	top: 50px;
	font: normal normal bold 48px/61px;
	letter-spacing: 0.48px;
	color: #000000;
	opacity: 1;
}

/* Home Styles */

/* Orders Styles */

/* Restaurants Styles */

/* Reviews Styles */
