<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>RestaurantAdvisor- Reviews</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" >Restaurant Advisor</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="restaurants">Restaurants</a></li>
					<li class="nav-item"><a class="nav-link active" href="reviews">Reviews</a></li>
					<li class="nav-item"><a class="nav-link" href="displayOrders">Orders</a></li>
					<li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
				</ul>
				<form class="d-flex" style="width: 20%;">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn" type="button" style="width: 40%;">Search</button>
				</form>
			</div>
		</div>
	</nav>





<div class="container" id="tableContainer">
		<h1 class="header-style">Reviews</h1>
		<table class="custom-table table table-striped">
			<thead class="thead-dark">
		<tr>
			<th> 
			<th> Name </th>
			<th> Phone </th>
			<th> Email  </th>
			<th> Hours </th>
			<th> Dining Type </th>
			<th> City  </th>
			<th> State </th>
			<th> Price Range </th>
			<th> Delivery?  </th>
			
		</tr>
	</thead>
	<tbody>
		<tr th:each="sumRest : ${sumRestList}">
			<td> <a href="reviewForm.html" th:href="@{http://localhost:8080/submitReview(rname=${sumRest.rName})}">Review</a> </td> 
			<td th:text="${sumRest.rName}"> </td>
			<td th:text="${sumRest.phone}"> </td>
			<td th:text="${sumRest.email}"> </td>
			<td th:text="${sumRest.hours}"> </td>
			<td th:text="${sumRest.diningType}"> </td>
			<td th:text="${sumRest.city}"> </td>
			<td th:text="${sumRest.state}"> </td>
			<td th:text="${sumRest.priceRange}"> </td>
			<td th:text="${sumRest.deliveryFlag}"> </td>
		</tr>
	</tbody>
	</table>
	
	
		
</div>

</body>
</html>

<!-- <td> <a href="displayMenu.html" th:href="@{http://localhost:8080/displayMenu(rname=${sumRest.rName})}">ORDER</a> </td> -->